<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprovante</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                <h1>Comprovante de Transação</h1>
            </div>
            <div class="card-body">
                <p><strong>Data:</strong></p>
                <p><strong>Remetente:</strong> {{ conta.cliente.nome }}</p>
                <p><strong>Agência:</strong> {{ conta.agencia }}</p>
                <p><strong>Conta Remetente: </strong>  {{ conta.numero }}  </p>
                <p><strong>Destinatário:</strong> {{ conta_destino.numero }}</p>
                <p><strong>Conta Destinatario: </strong>  {{ conta_destino.cliente.nome }}  </p>
                <p><strong>Agencia: </strong> {{ conta_destino.agencia }}</p>
                <p><strong>Valor:</strong> R$ {{ saldo }}</p>
            </div>
            <div class="card-footer text-center">
                <p>Obrigado por usar nossos serviços.</p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
